.flex {
  display: flex;
}

.flex-horizontal {
  flex-direction: row;
  align-items: baseline;
}

.flex-vertical {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-align-baseline {
  align-items: baseline;
}

.flex-align-stretch {
  align-items: stretch;
}

.flex-align-stretch > * {
  flex: auto;
}

.flex-gap-0 {
  gap: 0;
}

.flex-gap-1 {
  gap: 1rem;
}

.flex-gap-2 {
  gap: 2rem;
}

.flex-gap-3 {
  gap: 3rem;
}

.flex-wrap {
  flex-wrap: wrap;
}
