.font-variant-v1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.font-variant-v2 {
  font-size: 2rem;
  font-weight: 700;
}

.font-variant-v3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.font-variant-v4 {
  font-size: 1em;
  font-weight: 400;
}

.font-variant-v5 {
  font-size: 0.8rem;
  font-weight: 400;
}
