.button {
  padding: 0.25em;
  border: 1px solid #aaaa;
  background-color: var(--color-background-front-1);
  display: flex;
  color: var(--color-text);
}

.button:hover {
  background-color: var(--color-background-back-1);
}

.button-square {
  padding: 0.25em;
}

.button-rectangle {
  padding: 0.25em 0.5em; /* 0.5em because we have line-height: 1.5;*/
}
