.select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-container:hover {
  background-color: var(--color-background-back-1);
}

.select-container > *:nth-child(2) {
  pointer-events: none;
}

.select {
  padding: 0 1.5em 0 0;
  margin: 0 -1.5em 0 0;
  border: none;
  background-color: transparent;
  outline: none;
  display: flex;
  color: var(--color-text);
  appearance: none;
  -webkit-appearance: none;
}

.select-square {
  padding: 0.25em;
}

.select-rectangle {
  padding: 0.25em 0.5em; /* 0.5em because we have line-height: 1.5;*/
}

.select-rectangle-end {
  padding: 0.25em 0.5em 0.25em 0.25em; /* 0.5em because we have line-height: 1.5;*/
}
