.flex {
  display: flex;
}

.flex-horizontal {
  flex-direction: row;
}

.flex-vertical {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-end {
  align-items: flex-end;
}

.margin-1 {
  margin: 1rem;
}

.margin-2 {
  margin: 2rem;
}

.margin-3 {
  margin: 3rem;
}

.height100 {
  height: 100%;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.font-variant-v1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.font-variant-v2 {
  font-size: 2rem;
  font-weight: 700;
}

.font-variant-v3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.font-variant-v4 {
  font-size: 1em;
  font-weight: 400;
}

.font-variant-v5 {
  font-size: 0.8rem;
  font-weight: 400;
}
