.post-card > a {
  padding: 1rem;
  border: 1px solid var(--color-background-front-1);
  border-radius: 0.5rem;
  display: flex;
}

.post-card > a {
  color: var(--color-text) !important;
}

.post-card > a:hover {
  outline: 1px solid var(--color-primary);
  cursor: pointer;
}
