<!DOCTYPE html>
<html lang="en">
  <head>
    <% if(mode!=='production'){ %>
    <meta name="robots" content="noindex" />
    <% } if(mode==='production' || mode==='staging'){ %>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-5FHCGHP4T8"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-5FHCGHP4T8");
    </script>
    <% } %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join a startup in Algeria | Algeria Startup Jobs</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/_entry"></script>
  </body>
</html>
