<!DOCTYPE html>
<html lang="en">
  <head>
    <% if(mode!=='production'){ %>
    <meta name="robots" content="noindex" />
    <% } if(mode==='production' || mode==='staging'){ %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5FHCGHP4T8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-5FHCGHP4T8");
    </script>
    <% } %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41aa55" />
    <title>{{HTML_TITLE}}</title>
    <meta name="description" content="{{HTML_DESCRIPTION}}" />
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/_entry"></script>
  </body>
  <!-- @TODO-ZM: make scrolling better (only activate for back navigation) -->
  <script src="https://unpkg.com/delayed-scroll-restoration-polyfill@0.1.1/index.js"></script>
</html>
